<h1>Events</h1>

<p>This page will allow viewing and managing campus events.</p>

<table class="table">
  <thead>
    <tr>
      <th>Event ID</th>
      <th>Name</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>Expected Attendance</th>
      <th>Location</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#if events.length}}
      {{#each events}}
        <tr>
          <td>{{this.eventId}}</td>
          <td>{{this.name}}</td>
          <td>{{this.date}}</td>
          <td>{{this.startTime}}</td>
          <td>{{this.expectedAttendance}}</td>
          <td>{{this.location}}</td>
          <td><button>Delete</button></td>
        </tr>
      {{/each}}
    {{else}}
      <tr><td colspan="7">No event data yet.</td></tr>
    {{/if}}
  </tbody>
</table>

<button>Add Event</button>
