<h1>Events With Students</h1>

<p>This page will show which students attended which events.</p>

<table class="table">
  <thead>
    <tr>
      <th>Event</th>
      <th>Student</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#if events.length}}
      {{#each events}}
        <tr>
          <td>{{this.Events_eventId}}</td>
          <td>{{this.Students_studentId}}</td>
          <td>
            <form action="/delete-event-student" method="POST" style="display:inline;">
              <input type="hidden" name="eventId" value="{{this.Events_eventId}}">
              <input type="hidden" name="studentId" value="{{this.Students_studentId}}">
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
      {{/each}}
    {{else}}
    <tr><td colspan="2">No data yet.</td></tr>
    {{/if}}
  </tbody>
</table>
