<h1>Locations</h1>

<p>This page will allow managing campus event locations.</p>

<table class="table">
  <thead>
    <tr>
      <th>Location ID</th>
      <th>Name</th>
      <th>Address</th>
      <th>Capacity</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>

    {{#if locations.length}}
    {{#each locations}}
    <tr>
      <td>{{this.locationId}}</td>
      <td>{{this.locationName}}</td>
      <td>{{this.address}}</td>
      <td>{{this.capacity}}</td>
      <td><button>Delete</button></td>
    </tr>
    {{/each}}
    {{else}}
    <tr>
      <td colspan="3">No department data yet.</td>
    </tr>
    {{/if}}

  </tbody>
</table>

<button>Add Location</button>
