<h1>Locations</h1>

<p>This page will allow managing campus event locations.</p>

<table class="table">
  <thead>
    <tr>
      <th>Location ID</th>
      <th>Name</th>
      <th>Address</th>
      <th>Capacity</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>

    {{#if locations.length}}
    {{#each locations}}
    <tr>
      <td>{{this.locationId}}</td>
      <td>{{this.locationName}}</td>
      <td>{{this.address}}</td>
      <td>{{this.capacity}}</td>
      <td>
        <form action="/delete-location" method="POST" style="display:inline;">
          <input type="hidden" name="locationId" value="{{this.locationId}}">
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
    {{else}}
    <tr>
      <td colspan="3">No department data yet.</td>
    </tr>
    {{/if}}

  </tbody>
</table>


<h3>Add New Location </h3>
<form action="/add-location" method="POST" class="add-form">

  <label for="locationName">Location Name:</label>
  <input type="text" id="locationName" name="locationName" placeholder="Enter Location name" required>


  <label for="address">Address</label>
  <input type="text" id="address" name="address" required>

  <label for="capacity">Capacity</label>
  <input type="number" id="capacity" name="capacity" placeholder="e.g. 100" required>

  <button type="submit">Add Location</button>
</form>

<h3>Update Location Details</h3>
<form action="/update-location" method="POST" class="add-form">


  <label for="locationId">Select Location ID:</label>
  <select id="locationId" name="locationId" required>
    <option value="">-- Select a Location ID --</option>
    {{#each locations}}
    <option value="{{this.locationId}}" data-name="{{this.locationName}}" data-address="{{this.address}}" data-capacity="{{this.capacity}}">
      {{this.locationId}} — {{this.locationName}}
    </option>
    {{/each}}
  </select>
  <label for="locationName"> Location Name:</label>
  <input type="text" id="locationName" name="locationName" placeholder="Enter Location name" required>
  <label for="address">Address</label>
  <input type="text" id="address" name="address" required>

  <label for="capacity">Capacity</label>
  <input type="number" id="capacity" name="capacity" placeholder="e.g. 100" required>
  <button type="submit">Update Location</button>
</form>

<script src="/js/locations.js"></script>

